@charset "UTF-8";

#loginButton {
    margin-bottom: 20px;
    background-color: #E10D7B;
    background-image: none;/*-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5899EB), color-stop(50%, #2B7DE6), color-stop(51%, #1A70DD), color-stop(100%, #1864C6)); */
    text-shadow: none;
}

.x-tabbar-light.x-docked-bottom .x-tab-active {
    background-color: #E10D7B;
    background-image: none;
}

.x-tabbar-light {
    background-color: #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5A5A5A), color-stop(50%, #5A5A5A), color-stop(51%, #000), color-stop(100%, #000000));}

.x-tabbar-light.x-docked-bottom .x-tab-active img {
    background-color: white;
    background-image: none;
}

#ext-gen1010.x-panel-body{
    border:none;
}

.x-tab img.homeP  {-webkit-mask-image:url('../rsc/home.png');}

.x-tab img.help {-webkit-mask-image:url('../rsc/help.png');}

.x-tab img.install {-webkit-mask-image:url('../rsc/install.png');}

.x-tab img.deinstall {-webkit-mask-image:url('../rsc/deinstall.png');}

.x-tab img.search {-webkit-mask-image:url('../rsc/search.png');}

 
.x-tabbar-light.x-docked-bottom .x-tab-active img {
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fff), color-stop(100%, #fff));
    background-image: linear-gradient(top, #fff 0%, #fff 50%, #fff 51%, #fff 100%);
}


.x-form .x-panel-body, .x-fullscreen {

background: #666 url(../rsc/bg-body.png) repeat;
}

.home_page_text {
    color: white;
    text-align: center;
}

.x-toolbar-dark {
    background-color: #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5A5A5A), color-stop(50%, #5A5A5A), color-stop(51%, #000), color-stop(100%, #000000));
}

.x-toolbar-title { font-size: 1em;}

.home_page_text {
    background: url(../rsc/welcome-dummy.png) no-repeat 7px 20px;
    height: 320px;
}

.help_page, .x-button-label {
    color: white;
}

.x-tabbar-light.x-docked-bottom .x-tab img {
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fff), color-stop(100%, #fff));
    background-image: linear-gradient(top, #fff 0%, #fff 50%, #fff 51%, #fff 100%);
}

.x-tab img.home {-webkit-mask-image:url('../rsc/home.png');}

.x-tab img.install {-webkit-mask-image:url('../rsc/icn-install.png');}

.x-tab img.deinstall {-webkit-mask-image:url('../rsc/icn-deinstall.png');}

.x-tab img.search {-webkit-mask-image:url('../rsc/icn-search.png');}

/*
#install1_field .x-form-label, #install1_field  .x-form-field-container input{
    background: none;
    border:none;
}
*/

/*
#deinstallSubmitButton {
    display: inline-block;
    color: #fff;

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C1FA3B), color-stop(0.02, #8FCA05), to(#5A7F03));
    -webkit-border-radius: .2em;
    -webkit-box-shadow: #7EB105 0 0 .03em 0.03em inset, rgba(0, 0, 0, 0.4) 0px 0.1em .2em;
    text-shadow: rgba(0,0,0,.2) 0 .05em .02em;
    border: .08em solid #374D02;
    padding: .2em .6em;
}
*/

.x-form-fieldset-title {
    text-shadow: #000 0 -1px -1px;
    color: #fff;
    text-align: center;
}

#help_panel {
/*     background: #EEE; */
    padding: 1em;
}

#show_vehicle_panel {
/*     background: #EEE; */
    padding: 1em;
}


#help_panel p {
    padding: 0.5em 0;
}



#install_comp_field {
    font-size: .6em;
    
}

#install_comp_field input {
    padding-top: 2em;
}
#install1NextButton, #install3SubmitButton, #install2NextButton, #deinstallSubmitButton, .x-toolbar .x-button.x-button-action , #searchSubmitButton {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0084), color-stop(0%,#ff4ca5), color-stop(52%,#ff49a4), color-stop(54%,#ff0084), color-stop(100%,#ff0084)); /* Chrome,Safari4+ */
border:none;


}





.x-form-fieldset .x-panel-body {
    border: none;
}

.x-form-fieldset .x-panel-body {
    -webkit-box-shadow: none;
}
#install1NextButton.x-button-pressed, #install2NextButton.x-button-pressed, #install3SubmitButton.x-button-pressed, #deinstallSubmitButton.x-button-pressed, .x-toolbar .x-button.x-button-action.x-button-pressed, #searchSubmitButton.x-button-pressed {
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#90004a), color-stop(49%,#e80078), color-stop(98%,#90004a)); /* Chrome,Safari4+ */

}

.x-field .x-input-radio:checked::after, .x-field .x-input-checkbox:checked::after {
    background-color: #E10D7B;
}

.x-form-fieldset, .x-form-fieldset-title {
    margin-top: 0;
    margin-bottom: 1em;
}

#install3SubmitButton {
    margin-bottom: 1em;
}

.x-button.install_back.x-button-normal{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
}

.vehicle_page_text, .help_page_text {
    padding: .5em;
    background-color: #ccc;
    border-radius:10px; 
    border: 1px solid #fff;
    margin-bottom: 1em;
    color: #494949;
}



#install1_form_panel .x-panel-body {
    background: url('../rsc/bg-forms.png') repeat;
    border-radius: 15px;
    margin: 15px 0px 15px 15px;
    padding-left: 0px;
    padding-bottom: 1px;

}

.install_panel {
     background: url('../rsc/logo-form.png') no-repeat top left;
}