@charset "UTF-8";

#loginButton {
    margin-bottom: 20px;
    text-shadow: none;
    background-image: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0084), color-stop(0%,#FF4CA5), color-stop(52%,#FF49A4), color-stop(54%,#FF0084), color-stop(100%,#FF0084));
    border:none;
}

#loginButton.x-button-pressed, #install1SearchButton.x-button-pressed {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#90004A), color-stop(49%,#E80078), color-stop(98%,#90004A));
}
.x-tabbar-light.x-docked-bottom .x-tab-active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0084), color-stop(0%,#FF4CA5), color-stop(52%,#FF49A4), color-stop(54%,#FF0084), color-stop(100%,#FF0084));
}

.x-tabbar-light {
    background-color: #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5A5A5A), color-stop(50%, #5A5A5A), color-stop(51%, #000), color-stop(100%, #000000));}

.x-tabbar-light.x-docked-bottom .x-tab-active img {
    background-color: white;
    background-image: none;
}

#ext-gen1010.x-panel-body{
    border:none;
}

.x-tab img.homeP  {-webkit-mask-image:url('../rsc/home.png');}
.x-tab img.help {-webkit-mask-image:url('../rsc/help.png');}
.x-tab img.install {-webkit-mask-image:url('../rsc/install.png');}
.x-tab img.deinstall {-webkit-mask-image:url('../rsc/deinstall.png');}
.x-tab img.search {-webkit-mask-image:url('../rsc/search.png');}

 
.x-tabbar-light.x-docked-bottom .x-tab-active img {
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fff), color-stop(100%, #fff));
    background-image: linear-gradient(top, #fff 0%, #fff 50%, #fff 51%, #fff 100%);
}

.x-form .x-panel-body, .x-fullscreen {
    background: #666 url(../rsc/bg-body.png) repeat;
}

.x-toolbar-dark {
    background-color: #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333132), color-stop(50%, #333132), color-stop(51%, #000), color-stop(100%, #000000));
}

.x-toolbar-title { font-size: 1em;}

.home_page_text {
    background: url(../rsc/icn-home.png) no-repeat center center;
    margin-top: 80px;
    padding-bottom: 120px;
}

.help_page, .x-button-label {
    color: white;
}


.x-tabbar-light.x-docked-bottom .x-tab img {
    background-color: transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fff), color-stop(100%, #fff));
}

.x-tab img.home {-webkit-mask-image:url('../rsc/home.png');}
.x-tab img.install {-webkit-mask-image:url('../rsc/icn-install.png');}
.x-tab img.deinstall {-webkit-mask-image:url('../rsc/icn-deinstall.png');
    }

.x-tab img.search {-webkit-mask-image:url('../rsc/icn-search.png');}

.x-form-fieldset-title {
    text-shadow: #000 0 -1px -1px;
    color: #fff;
    text-align: center;
}

#help_panel {
    padding: 1em;
}

#show_vehicle_panel {
    padding: 1em;
}

#help_panel p {
    padding: 0.3em 0;
}

#install_comp_field {
    font-size: .6em; 
}

#install_comp_field input {
    padding-top: 2em;
}

#install1SearchButton, #install1NextButton, #install2NextButton, #install3CompButton, #install3NotCompButton, #install3RefreshButton, #deinstallSubmitButton, .x-toolbar .x-button.x-button-action , #searchSubmitButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0084), color-stop(0%,#ff4ca5), color-stop(52%,#ff49a4), color-stop(54%,#ff0084), color-stop(100%,#ff0084)); 
    border:none;
}

.x-form-fieldset .x-panel-body {
    border: none;
}

.x-form-fieldset .x-panel-body {
    -webkit-box-shadow: none;
}

#install1NextButton.x-button-pressed, #install2NextButton.x-button-pressed, #install3CompButton.x-button-pressed, #deinstallSubmitButton.x-button-pressed, .x-toolbar .x-button.x-button-action.x-button-pressed, #searchSubmitButton.x-button-pressed {
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#90004a), color-stop(49%,#e80078), color-stop(98%,#90004a));
}

#install3NotCompButton.x-button-pressed {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#bbb), color-stop(49%,#bbb), color-stop(98%,#aaa));
}

#install3NotCompButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#ccc), color-stop(49%,#ccc), color-stop(98%,#bbb));
    margin-bottom: 1em;
}

#install3NotCompButton .x-button-label {
    color: #666;
}

.x-field .x-input-radio:checked::after, .x-field .x-input-checkbox:checked::after {
    background-color: #E10D7B;
}

.x-form-fieldset, .x-form-fieldset-title {
    margin-top: 0;
    margin-bottom: 1em;
}

.x-button.install_back.x-button-normal{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
}

.vehicle_page_text, .help_page_text {
    padding: .2em .5em;
    background-color: #f2f2f2;
    border-radius:10px; 
    border: 1px solid #fff;
    margin-bottom: 1em;
    color: #494949;
}

.vehicle_page_text, .help_page_text p{
     font-size: .6em;
}

.vehicle_page_text, .help_page_text p:first-child{
    color: #FF0084;
    font-size: .7em;
    font-weight: bold;
}


#install1_form_panel .x-panel-body, #install2_form_panel .x-panel-body, #deinstall_form_panel .x-panel-body, #search_form_panel .x-panel-body, #install3_form_panel .x-panel-body {
    border-radius: 15px;
}

.x-msgbox-body {
    padding-top: 0;
}

#install_refresh_field textarea{
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

.search_panel .x-list-item-body {
    background: url('../rsc/cars.png') no-repeat center right;
    color:white;
}

.search_panel .x-list .x-list-item{
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); 
    border:none;
}

.search_panel .x-list .x-list-item.x-item-selected {
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
}

.results_list_item.make {
    font-weight: bold;
    font-size: 15px;
}

.results_list_item.model, .results_list_item.registration, .results_list_item.imei, .installed_time {
    font-size: 14px;
}

.installed_time {
    padding-bottom: 3px;
}

#install2_form_panel {
    width: 290px;
}

/*
.masthead{
    background: url(../rsc/logo-title.png) no-repeat center;
    text-indent: -9999em;
    height: 45px;
}
*/

#titleContainer{
    background: url(../rsc/logo-title.png) no-repeat center;
    text-indent: -9999em;
    height: 45px;
      background-color: #000;
    background: url(../rsc/logo-title.png) no-repeat center, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333132), color-stop(50%, #333132), color-stop(51%, #000), color-stop(100%, #000000));
}

.install_back {
    text-indent: 0;
}

#loginUserField {
       background: transparent url(../rsc/logo-title.png) top center no-repeat;
       padding-top: 50px;
       border: none;
}

#loginPasswordField {
    border-top: 1px solid #ccc;
}

#login_form_panel {
   background: #666 url(../rsc/bg-body.png) repeat;
}

.x-mask .x-mask-loading {
    padding-top: 4em;
}